.vs/
listings/
objects/
build/
*.uvguix.*
*.uvgui.*
*.uvoptx
*.scvd
*.obj
*.log
*.bak
*.tlog/
JLinkSettings.ini
JLinkLog.txt
*.FileListAbsolute.txt
*.lib.recipe
*.lib
*.pdb
obj/
bin/
*.pyc
.DS_Store
firmare*.map
*.csproj.user
*.exe.config
*.pdb
